@import url('https://fonts.googleapis.com/css?family=Space+Mono:700|Work+Sans&display=swap');

:root {
    --black: rgb(29, 32, 41); /* #1D2029 */
    --dark-grey: rgb(49, 49, 49);
    --light-grey: #898989;
    --grey: #202020;
    --pale-grey: #C9C9C9;
    --dirty-white: rgb(245, 245, 245);
    --white: #FDFDFD;

    /* --blue: rgb(0, 135, 255); */
    --yellow: rgb(249, 205, 70);
    --blue: #0087FF;
    --pink: #C6426E;

    --blue-alpha: rgba(0, 135, 255, .9);
    --pink-alpha: rgba(198, 66, 110, .9);

    --space-mono: 'Space Mono', monospace;
    --work-sans: 'Work Sans', sans-serif;

    --shadow: 0 0 6px var(--black);
    --grey-shadow: 0 0 6px #333333;
    --text-shadow: 1px 1px 3px var(--black);
}

html {
    background: var(--grey);
    background: linear-gradient(150deg, var(--grey), var(--black));
    /*background: #202020;*/
    font-family: var(--work-sans);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
    margin: 0;
}

a {
    color: inherit;
}

a:visited {
    text-decoration: none;
}
